{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Create new Contact</h1>

    {{ include('contact/_form.html.twig') }}

    <p class="text-center"><a href="{{ path('app_contact_index') }}" class="btn btn-primary">back to list</a></p>
{% endblock %}
